<svg class="{{ class }}" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Shape</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage" transform="translate(-473, -72)" fill="#A2A2A2" fill-rule="nonzero">
            <g id="search-bar" transform="translate(455, 59)">
                <g id="search_FILL0_wght400_GRAD0_opsz48-(1)" transform="translate(18, 13)">
                    <path d="M22.8031493,25 L13.9315099,15.8680556 C13.2568605,16.4699074 12.4702305,16.9386574 11.57162,17.2743056 C10.6730095,17.6099537 9.71679523,17.7777778 8.70297711,17.7777778 C6.2705962,17.7777778 4.21200479,16.9097222 2.52720288,15.1736111 C0.842400959,13.4375 0,11.3425926 0,8.88888889 C0,6.43518519 0.843311735,4.34027778 2.52993521,2.60416667 C4.21655868,0.868055556 6.25737308,0 8.6523784,0 C11.0473837,0 13.0825761,0.868055556 14.7579554,2.60416667 C16.4333347,4.34027778 17.2710243,6.4369213 17.2710243,8.89409722 C17.2710243,9.88599537 17.1136061,10.8449074 16.7987698,11.7708333 C16.4839334,12.6967593 16.0116788,13.5648148 15.3820061,14.375 L24.287378,23.4722222 L22.8031493,25 Z M8.66924464,15.6944444 C10.4964201,15.6944444 12.0495192,15.0289352 13.328542,13.6979167 C14.6075648,12.3668981 15.2470762,10.7638889 15.2470762,8.88888889 C15.2470762,7.01388889 14.6075648,5.41087963 13.328542,4.07986111 C12.0495192,2.74884259 10.4964201,2.08333333 8.66924464,2.08333333 C6.82333645,2.08333333 5.25430437,2.74884259 3.96214839,4.07986111 C2.67001491,5.41087963 2.02394816,7.01388889 2.02394816,8.88888889 C2.02394816,10.7638889 2.67001491,12.3668981 3.96214839,13.6979167 C5.25430437,15.0289352 6.82333645,15.6944444 8.66924464,15.6944444 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>