{% comment %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32" class="icon icon-box" width="24" height="24">
<path d="M0 23.254l13.040 7.503v-13.495l-13.040-7.504v13.497z"></path>
<path d="M0.594 8.736l13.040 7.503 5.778-3.325-13.040-7.505-5.778 3.327z"></path>
<path d="M7.558 4.727l13.042 7.505 6.074-3.496-13.039-7.504-6.077 3.495z"></path>
<path d="M14.226 17.262v13.496l13.041-7.503v-13.497l-13.041 7.504z"></path>
</svg>
{% endcomment %}

<?xml version="1.0" encoding="UTF-8"?>
<svg
  class="icon icon-box"
  width="11.1605839px"
  height="12.2016807px"
  viewBox="0 0 11.1605839 12.2016807"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>svgexport-32</title>
  <g
    id="Styleguide"
    stroke="none"
    stroke-width="1"
    fill="none"
    fill-rule="evenodd">
    <g
      id="Collection-page"
      transform="translate(-384.1168, -1428.5273)"
      fill="#000000"
      fill-rule="nonzero">
      <g id="products-product-page" transform="translate(376, 691)">
        <g id="Al-onze-nieuwste-producte-Copy-4" transform="translate(0, 382.9979)">
          <g id="Al-onze-nieuwste-producte-Copy" transform="translate(0, 20)">
            <g id="svgexport-32" transform="translate(8.1168, 334.5294)">
              <polygon id="Path" points="6.08687563 6.10084034 11.1605839 3.051168 6.08830686 0 1.01459854 3.051168"></polygon>
              <polygon id="Path" points="0 4.06722689 0 9.282721 5.0729927 12.2016807 5.0729927 6.98618656"></polygon>
              <polygon id="Path" points="6.08759124 6.98618656 6.08759124 12.2016807 11.1605839 9.282721 11.1605839 4.06722689"></polygon>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>