<div id="nf-notif-modal" class="draft-notif">
  <div class="nf-notif-overlay">
    <div class="nf-notif-content">
      <div class="nf-notif-header">
        <div class="nf-notif-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416l400 0c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4l0-25.4c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112l0 25.4c0 47.9 13.9 94.6 39.7 134.6L72.3 368C98.1 328 112 281.3 112 233.4l0-25.4c0-61.9 50.1-112 112-112zm64 352l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z" /></svg>
        </div>
        <div>
          <h3 class="nf-notif-title">{{ 'notif_draft_order.notif_header_title' | t }}</h3>
        </div>
      </div>
      <p class="nf-notif-message">{{ 'notif_draft_order.notif_message' | t }}</p>
      <div class="nf-notif-footer">
        <button type="button" class="clear-cart-button nf-notif-button nf-clear-cart-confirm-button">Clear cart</button>
        <button class="nf-notif-button nf-notif-button-accept">{{ 'notif_draft_order.notif_close_button' | t }}</button>
      </div>
    </div>
  </div>
</div>
<script>
    var modal = document.getElementById("nf-notif-modal");
    var acceptBtn = document.querySelector(".nf-notif-button-accept");
    acceptBtn.addEventListener("click", function() {
        modal.style.display = "none";
    });
</script>
<script>
  {% if customer.tags contains 'COA_Role_Admin' and customer.email contains 'takeaware.nl' or customer.email contains 'newfive.nl' or customer.email contains 'newfive.dev' or customer.email contains 'takeaware.com' or customer.email contains 'dejongdisposables.nl' %}
  var dialog = document.getElementById('deleteConfirmationDialog');
  var notifModal = document.querySelector('#nf-notif-modal');
  var clearCartConfirm = document.querySelector('.nf-clear-cart-confirm-button');
  var clearCartbuttons = document.querySelectorAll('.nf-clear-cart-button');
  var confirmButton = document.getElementById('confirmClearCart');
  var cancelButton = document.getElementById('cancelClearCart');

  clearCartbuttons.forEach(function(btn) {
    btn.onclick = function() {
      notifModal.style.display = 'none';
      dialog.showModal();
    };
  });

  const clearCart = () => {
    fetch('/cart/clear', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: new URLSearchParams()
    })
    .then(response => {
      if (response.ok) {
        console.log('Cart cleared successfully.');
        location.reload();
      } else {
        console.error('Failed to clear cart.');
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  };

  cancelButton.addEventListener('click', () => dialog.close());
  confirmButton.addEventListener('click', clearCart);
  clearCartConfirm.addEventListener('click', clearCart);
  
  {% endif %}
</script>